diffusers
facenet_pytorch
matplotlib
mlflow
networkx
numpy
opencv-python
optuna
pandas
Pillow
PyWavelets
pytorch_wavelets
scikit-image
scikit-learn
scipy
seaborn
statsmodels
torch
torchvision
tqdm
transformers
